
:root{
    /* colors */
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --aqua: #EDF7FA;
    --light: #8695A4;
}

.margin-main{
    width: 681px;
    margin-inline: auto;
}
h2{
    font-size: 34px;
    font-weight: 700;
    line-height: 49.94px;
    text-align: left;
    margin-top: 92px;

}
#year{
    display: flex;
    flex-direction: row;
    gap: 17px;
    margin-bottom: 23px;
    margin-top: 30px;
    align-items: center;
    
}
#year time{
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    border-radius: 16px;
    background-color: var(--primary);
    color: white;
    padding: 0px 10px 0px 10px;
}
#year span{
    font-size: 20px;
    font-weight: 400;
    line-height: 29.38px;
    text-align: left;
    height: 34px;

}
.description{
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    height: 44px;
    margin-bottom: 46px;

}
.imgsize{
    width: 681px;
    height: 460px;
    display: block;
    margin-inline: auto;

}
#img1{
    margin-top: 46px;
    margin-bottom: 54px;
}
h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    height: 45px;
    margin: 0px;

}
h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    height: 65px;
    margin: 0px;

}
.img3{
    margin: 27px 0px;
}



@media screen and (maxwidth: 480px) {

    
}