
*{
    box-sizing: border-box;
}
.maindiv{
    width: 100%;
    justify-content: center;
    display: grid;
    background-color: rgb(229, 206, 224);
    justify-self: center;
    grid-template-columns: ;


    gap: 2px;

}
.imgcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    justify-self: center;
    background-color: white;
}
.image{
    width: 200px;
    height: 200px;
    display: block;
}
.about_rate{
    display: inline;
    margin: 20px 20px;
}

.rate{
    color: red;
    font-size: 25px;
}
.rating{
    font-size: 25px;
}
.about-sect{
    display: flex;
    padding: 10px 50px;
    width: 100%;
    margin-inline: auto;
    margin-top: 20px;
    height: 100%;
    justify-content: space-between;
 
}
