

html,body{
    width: 100%;
}
:root{
    --grey: #000000;
    --light-grey:  #8695A4;

}


.main-width{
    width: 682px;
    margin-inline: auto;
}
h2{
    margin-top: 106px;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    height: 54px;
    margin-bottom: 55px;

}
h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 44.06px;
    text-align: left;
    height: 33px;
}
.year-detail{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.38px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;
}
.lightgrey {
    color: var(--light-grey);
}
.grey{
    color: var(--grey);
}
.bgcolornull{
    background-color: white;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    margin-bottom: 29px;
}



@media screen and (maxwidth: 480px){
    

    .main-width{
        width: 204px;
        margin-inline: auto;
    }
    h2{
        margin-top: 24px;
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
        text-align: left;
        height: 60px;
        margin-bottom: 18px;
    
    }
    h3{
        font-size: 26px;
        font-weight: 500;
        line-height: 38.19px;
        text-align: left;
        height: 38px;
    }
    .year-detail{
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: 20px;
        font-weight: 400;
        line-height:23.5px;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 17px;
    }
    .lightgrey {
        color: var(--light-grey);
    }
    .grey{
        color: var(--grey);
    }
    .bgcolornull{
        background-color: white;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 23.5px;
        text-align: left;
        margin-bottom: 24px;
    }
    
    
   