:root{
    /* colors */
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --aqua: #EDF7FA;
    --light: #8695A4;
}

html, body{
    background-color: white;
    font-family: "Heebo", serif;
}
header{
    padding: 27px 60px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 33px;
}

header nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

#hero{
    display: flex;
    padding: 71px 149px;
}

#profile-description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

#profile-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#profile-description h1{
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
}

#profile-description p{
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 400;
    color: var(--dark);
    margin: 0;
}

#profile-description button{
    background: var(--primary);
    color: white;
    font-weight: 500;
    border: none;
    width: fit-content;
    font-size: 20px;
    padding: 10px 20px;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    align-items: center;
}

#social-links{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

#copyright-info{
    color: var(--dark);
}
#recent-posts{
    align-content: center;
    background-color: var(--aqua);
}
#recent-posts-header{
    display: flex;
    flex-direction: row;
    gap: 430px;
    justify-content: center;
}
#recent-posts-header p{
    width: 129px;
    font-size: 22px;
    line-height: 60px;
    text-align: left;
}
#recent-posts-header a{
    width: 208px;
    height: 20px;
    text-align: right;
    font-size: 16px;
    font-weight: 400px;
    line-height: 23.5px;
    
}

#recent-posts-body{
    gap: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 34px;
} 
#recent-posts-body div{
    padding:24px 24px ;
    background-color: white;
    width: 322px;
    height: 247px;
    border-radius: 4px;
    padding: 0;
}

#recent-posts-body div p1{
    font-size: 26px;
    font-weight: 700px;
    color:black;
    line-height: 38.19px;
    width: 374px;
    height: 85px;
}
#recent-posts-body div section{
    font-size: 18px;
    font-weight: 400px;
    color: rgb(91, 84, 84);
    display: flex;
    flex-direction: row;
    gap: 31px;
}
#recent-posts-body div p2{
    font-size: 16px;
    font-weight: 400px;
    color: rgb(91, 84, 84);
    line-height: 23.5px;
    width: 368px;
    height: 117px;
    text-align: left;
}
