
html, body{
    margin: 0px;
    overflow: auto;
}


.hamburger{
    display: none;
    height: 0px;
}
.line{
    display: none;
    height: 0px;
}
header{
    height: 50px;
}
header{
    width: 100%;
    margin-inline: auto;
    margin-top: 27px;
    padding-right: 20px;

}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 33px;
}

header nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

*{
    box-sizing: border-box;
}



.img-size{
    width: 246px;
    height: 180px;
    border-radius: 6px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}
.work-detail{
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-self: center;
}







.work{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.work-title{
    font-size: 30px;
    font-weight: 700px;
    line-height: 44.06px;
    margin: 0px;
}
.year{
    display: flex;
    flex-direction: row;
    padding: 7.45px;
    margin: 0px;
    gap: 26px;

}
.time{
    font-size: 18px;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 16px;
    align-items: center;
}
.timeAfter{
    font-size: 18px;
    font-weight: 90;
    line-height: 60px;
    color:var(--light);
    margin: 0px;
}
.about-work{
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    margin: 0px;
}
hr{
    color: #21243D;
    margin-bottom: 35px;
    margin-top: 22px;
    width: 682px;
    margin-inline: auto;
}

#blog{
    color: red;
}


.work-detail{
    width: 682px;
    margin-inline: auto;
    margin: 0px;
}

h2{
    padding-top: 90px ;
    padding-bottom: 25px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    margin-inline: auto;
    width: 682px;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-top: 58px;
}
#social-links{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

#copyright-info{
    color: var(--dark);
}


@media screen and (max-width:697px){
    h2{
        width: 100%;
        padding-left: 10px;
    }
    header nav{
        display: none;
        height: 0px
    }
    header nav a{
        display: none;
        height: 0px
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
        height: 50px;
        width: 100%;
    }
    .line{
        display: block;
        color: black;
        font: bold;
        padding-right: 20px;
        height: 1px;
    }
    .img-size{
        width: 339px;
        height: 230px;
        gap: 17px;
        margin-inline: auto;

    }
    .work-detail{
        flex-direction: column;
        text-align: center;
        width: 100%;

    }
    .year{
        justify-content: center;
    }
    .about-work{
        text-align: center;
        padding: 0px 5px;
  
    }
    hr{
        width: 90%;
    }
}
@media screen and (max-width:400px){

    .year{
        justify-content: left;
    }
    .work-detail , .about-work{
        text-align: left;
    }
    .work-detail{
        padding: 0px 18px;
    }

}
